.button {
    color: var(--dark);
    border: none;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-light);
    font-size: var(--font-medium);
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 200ms;
    box-shadow: -2px 2px 4px 0px rgba(80,80,80,0.5);
}

.button:hover {
    transform: scale(1.01, 1.01);
    box-shadow: -3px 4px 8px 0px rgba(0,0,0,0.5);
}

.button:active {
    filter: brightness(0.9);
    transform: scale(0.98, 0.98);
    box-shadow: none;
}


@media (min-width: 769px) {
    .button {
        font-size: var(--font-small);
    }
}
