.Rrss__content {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0.6rem;
    top: 30%;
    gap: 1rem;
}

.Rrss__icon {
    background-color: var(--maiz);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
