.ComoFuncionaFreelancers {
    background-color: var(--clear);
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.ComoFuncionaFreelancers__title {
    width: 100%;
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-secondary-large);
    text-align: start;
    max-width: 35rem;
    padding: 0rem 5%;
    align-self: self-start;
    line-height: 110%;
}

.ComoFuncionaFreelancersContent {
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ComoFuncionaFreelancers__buton {
    background-color: var(--purple);
    bottom: -3rem;
    padding: 1.5rem 3rem;
    border-radius: 140rem 60rem 0 0;
    align-self: flex-start;
}

.ComoFuncionaFreelancersContent__CardCircle1, .ComoFuncionaFreelancersContent__CardCircle2, .ComoFuncionaFreelancersContent__CardCircle3 {
    min-width: 14.5rem;
    width: 14.5rem;
    height: 14.5rem;
    background-color: var(--salmon);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40rem;
    padding: 3rem;
    box-shadow: -2px 2px 10px 0px rgba(80,80,80,0.5);
}


.CardCircle__text {
    font-family: var(--font-secondary);
    font-size: var(--font-secondary-medium);
    font-weight: var(--font-weight-light);
    color: var(--dark);
    line-height: 120%;
}



/* Móviles estándar */
@media (min-width: 481px) {
    .ComoFuncionaFreelancersContent {
        padding: 2rem 20%;
        gap: 50%;
    }

    .ComoFuncionaFreelancers__title {
        font-size: var(--font-secondary-Xlarge);
    }
}

  /* Tabletas pequeñas */
@media (min-width: 769px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 8% 0;
    }

    .ComoFuncionaFreelancersContent__CardCircle1, .ComoFuncionaFreelancersContent__CardCircle2, .ComoFuncionaFreelancersContent__CardCircle3 {
        margin: 2rem 0;
    }

    .ComoFuncionaFreelancersContent {
        padding: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0rem 4rem;
    }

    /*animaciones de los circulos */
    @keyframes bounce1 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--salmon);
        }
        50% {
            transform: translateY(-23px);
        }
    }

    @keyframes bounce2 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--salmon);
        }
        50% {
            transform: translateY(-32px);
        }
    }

    @keyframes bounce3 {
        0%, 100% {
            transform: translateY(0);
            background-color: var(--salmon);
        }
        50% {
            transform: translateY(-28px);
        }
    }
    .ComoFuncionaFreelancersContent__CardCircle1 {
        animation: bounce1 5s infinite ease-in-out;
        transition: background-color 0.10s ease, box-shadow 0.10s ease;
    }

    .ComoFuncionaFreelancersContent__CardCircle2 {
        animation: bounce2 3s infinite ease-in-out;
        transition: background-color 0.6s ease, box-shadow 0.20s ease;
    }

    .ComoFuncionaFreelancersContent__CardCircle3 {
        animation: bounce3 4s infinite ease-in-out;
        transition: background-color 0.15s ease, box-shadow 0.8s ease;
    }
}

  /* Tabletas grandes / Dispositivos pequeños de escritorio */
@media (min-width: 1025px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 10% 0;
    }
}

/* Escritorio */
@media (min-width: 1281px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 14% 0;
    }
}

/* Pantallas grandes de escritorio */
@media (min-width: 1601px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 16% 0;
    }
}

/* Pantallas extra grandes */
@media (min-width: 1921px) {
    .ComoFuncionaFreelancers {
        padding: 5rem 18% 0;
    }

    .ComoFuncionaFreelancers__title {
        align-self: center;
    }
}
