.CompromisoImpulzze {
    background-color: var(--clear);
    padding: 4rem 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.CompromisoImpulzze__titles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CompromisoImpulzze__subtitle {
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-medium);
    text-align: start;
    max-width: 35rem;
}

.CompromisoImpulzze__title {
    color: var(--purple);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-Xlarge);
    text-align: start;
    max-width: 35rem;
}

.CompromisoImpulzzeContent {
    display: flex;
    flex-direction: column;
}

.CompromisoImpulzzeContent__text {
    background-color: var(--salmon);
    padding: 2rem 3rem 3rem 3rem;
    border-radius: 0 80rem 80rem 160rem;
}

.text {
    color: var(--dark);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-medium);
}

.CompromisoImpulzzeContent__shapes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.shapes {
    display: flex;
    flex-direction: column;
}

.shape3 {
    margin: 0 -2.1rem;
}

.CompromisoImpulzzeContent__spans {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.span1 {
    width: 100%;
    text-align: end;
    font-family: var(--font-secondary);
    color: var(--esmerald);
    font-size: var(--font-large);
    align-self: flex-end;
}

.span2 {
    width: 100%;
    font-family: var(--font-secondary);
    color: var(--salmon);
    font-size: var(--font-large);
    align-self: flex-start;
}

/* M칩viles est치ndar */
@media (min-width: 481px) {

}

  /* Tabletas peque침as */
@media (min-width: 769px) {
    .CompromisoImpulzze {
        padding: 5rem 8%;
    }

    .CompromisoImpulzzeContent__text {
        width: auto;
        height: min-content;
    }

    .CompromisoImpulzzeContent {
        flex-direction: row;
        align-items: flex-start;
    }
}

  /* Tabletas grandes / Dispositivos peque침os de escritorio */
@media (min-width: 1025px) {
    .CompromisoImpulzze {
        padding: 5rem 10%;
    }

    .CompromisoImpulzzeContent__spans {
        width: 60%;
        align-self: center;
    }
}

/* Escritorio */
@media (min-width: 1281px) {
    .CompromisoImpulzze {
        padding: 5rem 14%;
    }
}

/* Pantallas grandes de escritorio */
@media (min-width: 1601px) {
    .CompromisoImpulzze {
        padding: 5rem 16%;
    }
}

/* Pantallas extra grandes */
@media (min-width: 1921px) {
    .CompromisoImpulzze {
        padding: 5rem 18%;
        align-items: center;
    }
}
