.ImpulzzeEmpresas {
    background-color: var(--clear);
    background-image: url("../assets/images/shapesGroup3.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 18rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
}

.ImpulzzeEmpresas__title {
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-secondary-large);
    text-align: start;
    max-width: 35rem;
    padding: 0rem 5%;
    align-self: flex-start;
    line-height: 120%;
}

.ImpulzzeEmpresasContent {
    width: 100%;
    padding: 2rem 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.highlighted {
    font-style: italic;
    font-weight: 600;
}


/* Móviles estándar */
@media (min-width: 481px) {
    .ImpulzzeEmpresasContent {
        padding: 2rem 20%;
        gap: 50%;
    }

    .ImpulzzeEmpresas__title {
        font-size: var(--font-secondary-Xlarge);
    }
}

  /* Tabletas pequeñas */
@media (min-width: 769px) {

    .ImpulzzeEmpresas {
        padding: 5rem 8%;
    }

    .ImpulzzeEmpresasContent {
        padding: 2rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
    }
}

  /* Tabletas grandes / Dispositivos pequeños de escritorio */
@media (min-width: 1025px) {
    .ImpulzzeEmpresas {
        padding: 5rem 10%;
    }

    .ImpulzzeEmpresasContent {
        gap: 5rem;
    }
}

  /* Escritorio */
@media (min-width: 1281px) {
    /* Estilos para escritorio */
    .ImpulzzeEmpresas {
        padding: 5rem 14%;
    }
}

/* Pantallas grandes de escritorio */
@media (min-width: 1601px) {
/* Estilos para pantallas grandes */
    .ImpulzzeEmpresas {
        padding: 5rem 16%;
    }
}

/* Pantallas extra grandes */
@media (min-width: 1921px) {
/* Estilos para pantallas ultra grandes */
    .ImpulzzeEmpresas {
        padding: 5rem 18%;
        align-items: center;
    }

    .ImpulzzeEmpresas__title {
        align-self: center;
    }
}
