.RegistrarEmpresa {
    width: 100%;
    background-color: var(--esmerald);
    padding: 4rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.RegistrarEmpresa__titles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.RegistrarEmpresa__title {
    color: var(--clear);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-Xlarge);
    text-align: start;
    max-width: 35rem;
    line-height: 120%;
}

.RegistrarEmpresa__subtitle {
    color: var(--dark);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-black);
    font-size: var(--font-medium);
    text-align: start;
    max-width: 35rem;
    line-height: 120%;
}

form {
    width: 100%;
    max-width: 24rem;
    background-color: var(--maiz);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col1, .col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.formInput {
    width: 100%;
    background-color: var(--clear);
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem;
    color: var(--dark);
    font-family: var(--font-primary);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
}

.formSubmit {
    width: 100%;
    height: 2.3rem;
    background-color: var(--esmerald);
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem;
    color: var(--dark);
    font-family: var(--font-primary);
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
    text-align: start;
    cursor: pointer;
    transition: all 200ms;
}

.formSubmit:hover {
    transform: scale(1.02, 1.02);
    box-shadow: -3px 4px 8px 0px rgba(0,0,0,0.5);
}

/* M칩viles est치ndar */
@media (min-width: 481px) {

}

  /* Tabletas peque침as */
@media (min-width: 769px) {
    .RegistrarEmpresa {
        padding: 5rem 8%;
    }

    form {
        width: 100%;
        max-width: 40rem;
        flex-direction: row;
    }

    .col1, .col2 {
        width: 50%;
    }
}

  /* Tabletas grandes / Dispositivos peque침os de escritorio */
@media (min-width: 1025px) {


}

  /* Escritorio */
  @media (min-width: 1281px) {
    /* Estilos para escritorio */
  }

  /* Pantallas grandes de escritorio */
  @media (min-width: 1601px) {
    /* Estilos para pantallas grandes */
  }

  /* Pantallas extra grandes */
  @media (min-width: 1921px) {
    /* Estilos para pantallas ultra grandes */
  }
