.Navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    position: fixed;
    z-index: 100;
}

.NavbarContent__logotipo {
    width: 3.7rem;
    height: 3.7rem;
    background-color: var(--purple);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarContent__buttons {
    background-color: var(--maiz);
    padding: 0.7rem 1.2rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 30;
    box-shadow: -2px 2px 4px 0px rgba(80,80,80,0.5);
}


@media (min-width: 481px) {
    .NavbarContent__buttons {
        flex-direction: row;
    }
}

@media (min-width: 769px) {
    .Navbar {
        padding: 1rem 8%;
        background-position: right top;
    }

}

  /* Tabletas grandes / Dispositivos pequeños de escritorio */
@media (min-width: 1025px) {
    .Navbar {
        padding: 1rem 10%;
    }

}

/* Escritorio */
@media (min-width: 1281px) {
    .Navbar {
        padding: 1rem 9%;
    }
}

/* Pantallas grandes de escritorio */
@media (min-width: 1601px) {
    .Navbar {
        padding: 1rem 16%;
    }
}

/* Pantallas extra grandes */
@media (min-width: 1921px) {
    .Navbar {
        padding: 1rem 18%;
    }
}
